.wrapper{
    justify-content: center;
    width: auto;
    height: auto;
    padding: 20px;
    margin: 50px 50px;
}

.content{
    color: white;
    -webkit-text-stroke: 1px gray;
    height: auto;
    width: auto;
    justify-content: center;
    text-align: center;
    margin: 50px auto;
}

.button{
    width: auto;
    height: auto;
    margin: 10px 25px;
}