.welcome {
    font-size: 72px;
    text-align: center;
    margin-top: 20px;
}

.cardContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; /* space between cards */
  justify-content: center; /* center cards horizontally */
  padding: 20px;
}