.title {
    margin-top: 16px;
    margin-inline-start: 16px;
    margin-bottom: 0px;
}

.subtitle {
    margin-top: 0px;
    margin-inline-start: 16px;
    margin-bottom: 16px;
    color: #d0d0d0;
}

.card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
}

.menubar {
    display: flex;
    justify-content: space-between;
    padding: 16px;
    background-color: #333333;
}
/* body {
    background-color: #1e1e1e;
    color: #ffffff;
} */